body {
    font-family: ' Poppins', sans-serif;
}
h1 {
    font-size: 50px;
}
.heighlight {
    color: yellowgreen;
}
.fp {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.fi {
    float: right;
    margin-right: 5%;
    padding-right: 2%;
}